.wrapper_home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    background-image: url("/images/hero/hero-4.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 30px 30px;
    @media (max-width: $mantine-breakpoint-md) {
        background-position: 50%;
        background-attachment: fixed;
        background-position: bottom 10px left -220px;
        background-repeat: no-repeat;
        background-size: center;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        background-position: 50%;
        background-attachment: fixed;
        background-position: bottom 10px left -240px;
        background-repeat: no-repeat;
        background-size: center;
    }
}

.wrapper_contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    /* background-image: url("/images/hero/hero-4.jpeg"); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 30px 30px;
        @media (max-width: $mantine-breakpoint-md) {
        background-position: 50%;
        background-attachment: fixed;
        background-position: bottom 10px left -220px;
        background-repeat: no-repeat;
        background-size: center;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        background-position: 50%;
        background-attachment: fixed;
        background-position: bottom 10px left -240px;
        background-repeat: no-repeat;
        background-size: center;
    }
}

.title {
    /* font-weight: 800; */
    font-size: 32px;
    letter-spacing: -1px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;
    z-index: 1;
    font-family:
        Greycliff CF,
        var(--mantine-font-family);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 24px;
        text-align: left;
    }
    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
}

/* .lottie {
} */

.description {
    color: var(--mantine-color-gray-0);
    text-align: center;
    z-index: 2;
    line-height: 36px;

    @media (max-width: $mantine-breakpoint-xs) {
        /* font-size: var(--mantine-font-size-md); */
        text-align: left;
    }
}

.secondaryControl {
    color: var(--mantine-color-white);
    background-color: rgba(255, 255, 255, 0.4);

    @mixin hover {
        background-color: rgba(255, 255, 255, 0.45);
    }
}

.dots {
    position: absolute;
    /* color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)); */
    color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-1));
    opacity: 0.8;
    z-index: 1;
}

.dots_center {
    position: absolute;
    /* color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)); */
    color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-1));
    opacity: 0.8;
    @media (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
    z-index: 1;
}

.main {
  min-width: 100px;
  padding: 0 20px;
  margin: 0 auto;
  height: 260px;
}

.transitionsItem {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  /* line-height: 80px; */
}

.container {
  display: flex;
  align-items: start;
  height: 100%;
  justify-content: center;
}

.lottie {
    width:1000px;
        @media (max-width: $mantine-breakpoint-md) {
    width:700px;
    }
}
