.container {
    background: #f1f3f5;
    padding-left: 16px;
    padding-right: 16px;


}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.image {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.title {
    font-size: rem(34px);
    font-weight: 900;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(24px);
    }
}

.description {
    &::after {
        content: "";
        display: block;
        background-color: var(--mantine-color-red-6);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
        margin-left: auto;
        margin-right: auto;
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.control {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}

.secondaryControl {
    color: var(--mantine-color-white);
    background-color: rgba(255, 255, 255, 0.4);

    @mixin hover {
        background-color: rgba(255, 255, 255, 0.45);
    }
}

/* ------------------------------ */
.card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: var(--mantine-color-body);
    margin: 1px;

    @media (min-width: $mantine-breakpoint-xs) {
        min-width: 280px;
    }
    /* @media (max-width: $mantine-breakpoint-xs) {
        width: 280px;
    } */
    @media (min-width: $mantine-breakpoint-sm) {
        min-width: 300px;
    }
    /* @media (max-width: $mantine-breakpoint-sm) {
        width: 340px;
    } */
    @media (min-width: $mantine-breakpoint-md) {
        min-width: 450px;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.title {
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
    line-height: 1;
    font-size: var(--mantine-font-size-sm);
}


.paper {
    min-width: 300px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 1px solid lightgrey;
}
