.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 95%;
    height: 70px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    /* border-bottom: 1px solid light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-4)); */
    transition:
        height 0.5s ease-out,
        background-color 0.5s ease-out;

    border-radius: 30px;
    border: 1px solid white;
    margin-top: 5px;
    text-decoration: none;
}

.header_scrolled {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 95%;
    height: 60px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    background-color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-dark-6));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-4));
    /* transition:
        height 0.5s linear,
        background-color 0.5s linear; */
    transition:
        height 0.5s ease-out,
        background-color 0.5s ease-out;

    border-radius: 0 0 30px 30px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
}

.link_top {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    text-decoration: none;
    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
        width: 100%;
    }

    @mixin hover {
        color: #fed8b1;
    }
}

.link_top_active {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: #ffe066;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    text-decoration: none;
    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
        width: 100%;
    }

    @mixin hover {
        color: #ffe066;
    }
}

.link_mobile {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    text-decoration: none;

    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
        width: 100%;
    }

    @mixin hover {
        color: #74c0fc;
    }
}

.link_mobile_active {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    text-decoration: none;
    
    @media (max-width: $mantine-breakpoint-sm) {
        height: 42px;
        width: 100%;
        color: #228be6;
    }

    @mixin hover {
        color: #74c0fc;
    }
}

.subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }
}

.dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
