.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.img {
    height: 250px;
}
